// views/deconnexion.pug
extends layout.pug

block content
  h1 Déconnexion

  p Êtes-vous sûr de vouloir vous déconnecter ?
  a(href="/", class="button") Annuler
  a(href="/deconnecter-confirm", class="button") Confirmer
